
.red{
    background-color: red;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.blue {
    background-color: #0781D4;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}
#clock {
   
    width: 200px;
    height: 200px;
    border-radius:50%;
   
}
#container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#start{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}

#btnStart{
    height:25px;
    width:65px;
}
#btnStart:hover{
  background-color: violet;
  height:25px;
  width:65px;
}

.input{
    position: relative;
    text-align: center;
    width: 60px;
    margin: auto;
    font-size: 20px;
    opacity: 20%;
    color:black;
    background-color: white;
    

}
.dot{
    text-align: center;
    font-size: 50px;
    position: relative;
    margin: auto;
    
}